*.jl.*.cov
*.jl.cov
*.jl.mem
/tmp
/_data
/.vscode/
/docs/build/
Manifest.toml
.DS_Store
zzmaster_diary.md
test.jl
/../ball/*
2fvy.pdb
water.pdb
benzene.sdf
ball_out.txt
benzene.pdb
test.jl
zzmaster_diary.md
zzmaster_diary.md
test.jl
zar
zaro
zff
zmsb
zsys
zzmaster_diary.md
