*.jl.*.cov
*.jl.cov
*.jl.mem
/tmp
/_data
/.vscode/
/docs/build/
Manifest.toml
.DS_Store
zzmaster_diary.md
test.jl
/../ball/*
2fvy.pdb
water.pdb
benzene.sdf
ball_out.txt
benzene.pdb
test.jl
zzmaster_diary.md
zzmaster_diary.md
test.jl
zar
zaro
zff
zmsb
zsys
zzmaster_diary.md
test.jl
1a5r_long.ser
1a5r.sdf
1a5r.ser
1b68.sdf
1gs9.pdb
1p8b_mm.ser
1p8b_tra.ser
1p8b.sdf
1v3o.sdf
1v3p.sdf
3gzf.pdb
3i40_mm.ser
3i40_tra.ser
3i40.sdf
4ey9.sdf
7qfo.pdb
8ax9.sdf
8ce0.sdf
9dna.sdf
adenosine.sdf
apoe4.pdb
apoe4.sdf
beta-D-glucose-3D-structure-CT1000926869.sdf
Conformer3D_COMPOUND_CID_5793.sdf
cpx351.sdf
glucose.sdf
j_backup_1
j_backup_1-0
j_backup_1-1
j_backup_1-99
j_backup_2-0
j_backup_2-reps
j_backup_11-reps
j_backup_21-19
j_backup_1001-999
oct_8_water.ser
octane.sdf
profile.pb.gz
Project.toml
Structure2D_COMPOUND_CID_931.sdf
Structure2D_COMPOUND_CID_1175.sdf
Structure2D_COMPOUND_CID_7249.sdf
Structure2D_COMPOUND_CID_7771.sdf
Structure2D_COMPOUND_CID_7948.sdf
Structure2D_COMPOUND_CID_81443.sdf
Structure2D_COMPOUND_CID_196182.sdf
Structure2D_COMPOUND_CID_22568738.sdf
Structure2D_COMPOUND_CID_56835164.sdf
Structure2D_COMPOUND_CID_135398635.sdf
temp.sdf
tors_angle.png
water_mm.ser
water_tra.ser
water.pdb
water.sdf
xffcode
zff_8ce0-cpx-46.5-30-74
zff_apoe4-cpx-46.5-30-74
zff-before-apoe4-cpx
zring
zrings
zsys-before-apoe4-cpx
water.pdb
data/forcefields/MMFF94/aro_df.txt
data/forcefields/MMFF94/hyd_df.txt
data/forcefields/MMFF94/TYPES backup.PAR
data/forcefields/MMFF94/TYPES_c_37_38_40_28_work.PAR
data/forcefields/MMFF94/TYPES.PAR
plots/angle_plot.png
plots/angle_plot.svg
plots/bend_equi.gif
plots/bend_equiv.gif
plots/bend_lin.gif
plots/bigger_molecul_slow.gif
plots/Buf.png
plots/Buf.svg
plots/es.gif
plots/es.png
plots/es.svg
plots/firstgif.gif
plots/full_tors.gif
plots/moop_no_moop.gif
plots/MOrse_pot.png
plots/morse_potential.png
plots/morse_potential.svg
plots/octane_boring.gif
plots/octane_too_close.gif
plots/okay_looking_moop.gif
plots/ony_tors.gif
plots/strebend_angle.png
plots/strebend_angle.svg
plots/strebend_long_2.gif
plots/strebend_long.gif
plots/strebend_ref_len_2.gif
plots/strebend_ref_len.gif
plots/stretch_bonded.gif
plots/taylor_exp_clean.png
plots/taylor_morse_extended.png
plots/taylor_morse_extended.svg
plots/taylor_morse.png
plots/taylor_morse.svg
plots/tors_stretch.gif
plots/vdw_close (2).gif
plots/vdw_close.gif
plots/vdw_far.gif
plots/water_dance.gif
plots/water_mixeed_reaction.gif
plots/water_wiggle.gif
plots/watersplosion.gif
plots/xmysvg.svg
sim_tests/jl_Ly16laPML0.gif
src/forcefields/MMFF94/atom_typing.c
test/data/Compound_031500001_032000000_a.sdf
test/data/Compound_031500001_032000000.sdf
test/data/descriptors_test copy.sdf
test/data/descriptors_test_m1.sdf
test/data/descriptors_test_m2.sdf
test/data/descriptors_test_m3.sdf
test/data/descriptors_test_m4.sdf
test/data/descriptors_test_m5.sdf
test/data/descriptors_test_m6.sdf
test/data/descriptors_test_m7.sdf
test/data/descriptors_test_m8.sdf
test/data/descriptors_test_m9.sdf
test/data/MMFF94-stretch copy.sdf
test/data/MMFF94-torsion_mm.ser
test/data/MMFF94-torsion_tra.ser
test/data/MMFF94-vdw-new.hin
test/data/MMFF94-vdw2hin.sdf
test/data/sdfile_test_1 copy.sdf
testfile
Project.toml
traj_5XER_1ps.pdb
Project.toml
useful_random_functions.jl
xxxxxx.Txt
ztraj_torsion.pdb
zzmaster_diary.md
data/forcefields/MMFF94/TYPES.PAR
NN_tests/diffeq_CID_1175.gif
test/data/MMFF94-torsion.pdb
